{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company edit</h1>
    <div style='display:none' id='shipping-range-template'>
        {{ form_widget(edit_form.shippingRanges.vars.prototype) }}
    </div>
    {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        <h3>Shipping ranges</h3>
        <ul class='shipping-ranges'>
            {% for shippingRange in edit_form.shippingRanges %}
                <li class='shipping-range-row'>{{ form_row(shippingRange) }}</li>
            {% endfor %}
        </ul>

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
<script src='/js/company.js'></script>
{% endblock %}
